<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="akka" type="Akka.Configuration.Hocon.AkkaConfigurationSection, Akka" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VTC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <akka>
    <hocon><![CDATA[
      ]]></hocon>
  </akka>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.diagnostics>
    <!--<trace autoflush="true" indentsize="4">
      <listeners>
        <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\TrafficCounter\VTClog.txt"/>
        <remove name="Default"/>
      </listeners>
    </trace>-->
  </system.diagnostics>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="DbgLayout" value="${logger:uppercase=True} ${message}" />
    <variable name="FileLayout" value="${logger:padding=-10} ${level:uppercase=True:padding=-5} ${longdate} ${processid:padding=-5} ${message} ${onexception:EXCEPTION\:${exception:format=ToString,StackTrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    <variable name="UserLayout" value="${longdate} ${message}" />
    <variable name="LogDir" value="${specialfolder:folder=ApplicationData}/VTC/1.0/Logs" />
    <targets>
      <target name="file" xsi:type="File" layout="${FileLayout}" concurrentWrites="false" archiveAboveSize="5242880" archiveNumbering="Rolling" maxArchiveFiles="100" keepFileOpen="false" fileName="${LogDir}/TrafficCounter.log" />
      <target name="userLogFile" xsi:type="File" layout="${UserLayout}" concurrentWrites="false" archiveAboveSize="5242880" archiveNumbering="Rolling" maxArchiveFiles="100" keepFileOpen="false" fileName="${LogDir}/UserLog.log" />
    </targets>
    <rules>
      <logger name="userlog" minlevel="Trace" writeTo="userLogFile" final="true" />
      <logger name="*" minlevel="Trace" writeTo="file" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ZedGraph" publicKeyToken="02a83cbd123fcd60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.7.430" newVersion="5.1.7.430" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4.0" newVersion="1.7.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <VTC.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value />
      </setting>
      <setting name="Logopath" serializeAs="String">
        <value />
      </setting>
      <setting name="Organization" serializeAs="String">
        <value />
      </setting>
      <setting name="email" serializeAs="String">
        <value />
      </setting>
      <setting name="Outputpath" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera1URL" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera1Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera2URL" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera2Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera3URL" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera3Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera4URL" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera4Name" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera5URL" serializeAs="String">
        <value />
      </setting>
      <setting name="Camera5Name" serializeAs="String">
        <value />
      </setting>
      <setting name="SimplifiedCountDisplay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ServerURL" serializeAs="String">
        <value>https://dashboard.roadometry.com</value>
      </setting>
    </VTC.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>
