<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VTC.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VTC.Common.Properties.Settings>
            <setting name="FTPpassword" serializeAs="String">
                <value>traffic</value>
            </setting>
            <setting name="Q_position" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="VehicleInitialCovR" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="VelocityFieldResolution" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ExportTrainingImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alpha" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="StateUploadIntervalMs" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="LambdaN" serializeAs="String">
                <value>5E-07</value>
            </setting>
            <setting name="MissThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KHypotheses" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LogFullMovementNames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VehicleInitialCovG" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="LambdaF" serializeAs="String">
                <value>4E-07</value>
            </setting>
            <setting name="VehicleInitialCovVX" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ServerURL" serializeAs="String">
                <value>https://dev.traffic-camera.com</value>
            </setting>
            <setting name="FTPusername" serializeAs="String">
                <value>imloader</value>
            </setting>
            <setting name="MinObjectSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VehicleInitialCovB" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="R_size" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ClassifierSubframeHeight" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Q_size" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="PushToServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VehicleInitialCovVY" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="ValRegDeviation" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="MaxHypTreeDepth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Timestep" serializeAs="String">
                <value>0.11</value>
            </setting>
            <setting name="FrameUploadIntervalMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LogRealUnits" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="R_color" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="VehicleInitialCovY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="MaxTargets" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="CompensationGain" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FrameHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="IntersectionId" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VehicleInitialCovSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="Pd" serializeAs="String">
                <value>0.999</value>
            </setting>
            <setting name="Px" serializeAs="String">
                <value>0.0001</value>
            </setting>
            <setting name="ClassifierSubframeWidth" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FrameWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="MixtureOfGaussiansBackgrounds" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="R_position" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Q_color" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="VehicleInitialCovX" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MaxObjectCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="MoGUpdateDownsampling" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ColorThreshold" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="MinPathLengthPx" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Erosion" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Dilation" serializeAs="String">
                <value>6</value>
            </setting>
        </VTC.Common.Properties.Settings>
    </userSettings>
</configuration>